body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1440px;
    margin: 40px auto;
    padding: 0;
    list-style: none;
}


/* Елемент галереї */
.gallery-item {
    overflow: hidden;
    border-radius: 4px;
}

/* Картинка */
.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

/* Hover ефект */
.gallery-image:hover {
    transform: scale(1.03);
}